<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Go Greek Database </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style> 
        .margins {
            margin: 15px
        }

        .form_margins {
            margin: 45px 0px 0px 0px;
            border: 1px solid;
            padding: 10px;
            background-color: #ededed;
        }

        /* CSS for the navigation bar */
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #D73F09;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-weight: bold;
        }

        li a:hover:not(.active) {
            text-decoration: underline;
            color: white;
        }

        /* CSS for the table */ 
        .council_table {
            width: 35%;
        }

        table {
            width: 75%;
        }

        table, th, td {
            border: 1px solid;
            border-collapse: collapse;
        }

        .orange_button:hover { 
            background-color: #D73F09;
        }

        /* Body styling */
        body {
            font-family: "Kievit Office", Arial, sans-serif;
        }

    </style>
</head>

<body>

    {{{body}}}
    
</body>
</html>