{{!--
Citation for the following code:
Date: 3/2/2023
Copied and adapted from OSU GitHub (osu-cs340-ecampus) project (nodejs-starter-app), specifically steps 5 and 6.
The code was adapted to implement handlebars for the councils page and more specifically the add function.
It was adapted to match the entities and attributes of the table along with implementing dropdpown menus for functionality.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
--}}
<ul>    
    <li><a href="/">Home</a></li>
    <li><a href="/councils">Councils</a></li>
    <li><a href="/chapters">Chapters</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/positions">Positions</a></li>
    <li><a href="/events">Philanthropy Events</a></li>
    <li><a href="/chapterphilo">Chapter Philanthropies</a></li>
</ul>

<div class="margins">

    <h2> Councils </h2>

    {{!-- Create a table --}}
    <table class="table table-bordered table-striped table-hover" class="council_table">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the council id, and council name in order --}}
            {{#each data}}
            <tr data-value={{this.council_id}}>
                <td>{{this.council_id}}</td>
                <td>{{this.council_name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="form_margins">
        {{!-- Form to add a new council --}}
        <h3>Adding a New Council</h3>
        <p>To add a new council, please enter their information below and click 'Submit'!</p>

        <form id="add-council-form-ajax">

            <label for="input-council-name">Council Name: </label>
            <input type="text" name="input-council-name" id="input-council-name">

            <input class="orange_button" type="submit">
        </form>
    </div>
</div>

<script src="./js/add_councils.js"></script>