{{!
Citation for the following code:
Date: 3/20/2023
Copied and adapted from OSU GitHub (osu-cs340-ecampus) project (nodejs-starter-app).
The code was adapted to implement handlebars for the homepage.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
}}

{{!-- index.hbs --}}
<ul>    
    <li><a href="/">Home</a></li>
    <li><a href="/councils">Councils</a></li>
    <li><a href="/chapters">Chapters</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/positions">Positions</a></li>
    <li><a href="/events">Philanthropy Events</a></li>
    <li><a href="/chapterphilo">Chapter Philanthropies</a></li>
</ul>

<div class="margins">
    <h1>GO GREEK</h1>
    <p>All things Fraternity and Sorority Life at Oregon State University!</p>

    <p> Click on a link to access the database. </p> 
</div>