{{!-- index.hbs --}}

<h1>GO GREEK</h1>
<p>All things Fraternity and Sorority Life at Oregon State University!</p>
<a href="/">Home</a> | <a href="/councils">Councils</a> |
<a href="/chapters">Chapters</a> | <a href="/members">Members</a> |
<a href="/positions">Positions</a> | <a href="/events">Philanthropy Events</a> |
<a href="/chapterphilo">Chapter Philanthropies </a>

<p> Click on a link to access the database. </p> 
