<!-- index.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

    <h3> Chapter Philanthropies </h3>

    <table>
        <tr>
            <th> Chapter Philanthropy ID </th>
            <th> Philanthropy Role </th>
            <th> Event ID </th>
            <th> Chapter ID </th>
        </tr>
        <tr>
            <td> 1005 </td>
            <td> Host </td>
            <td> 024 </td>
            <td> 002 </td>
        </tr>
        <tr>
            <td> 1005 </td>
            <td> Participating </td>
            <td> 024 </td>
            <td> 012 </td>
        </tr>
        <tr>
            <td> 1023 </td>
            <td> Host </td>
            <td> 003 </td>
            <td> 001 </td>
        </tr>
    </table>

    <br>

    <h4> Add Philanthropy </h4>
    
    <form>
        <label> Philanthropy Role </label> 
        <select id = "eventID" name = "eventID">
            <option value = "host"> Host </option>
            <option value = "participant"> Participant </option>
        </select>
        <label> Event ID </label> 
        <select id = "eventID" name = "eventID">
            <option value = "003"> 003 - Anchor Splash  </option>
            <option value = "024"> 024 - Ironbrawl </option>
            <option value = "031"> 031 - SPE Sweethearts  </option>
        </select>
        <label> Chapter ID </label> 
        <select id = "chapterID" name = "chapterID">
            <option value = "001"> 001 - Delta Gamma  </option>
            <option value = "002"> 002 - Kappa Alpha Theta </option>
            <option value = "003"> 003 - Pi Kappa Phi  </option>
            <option value = "004"> 004 - Sigma Phi Epsilon </option>
            <option value = "023"> 023 - Sigma Delta Omega </option>
        </select>
        <input type = "submit" value = "Submit">
    </form>

    <h4> Update Philanthropy </h4>
    
    <form>
        <label> Chapter Philanthropy ID </label> <input type  ="text">
        <label> Philanthropy Role </label> 
        <select id = "eventID" name = "eventID">
            <option value = "host"> Host </option>
            <option value = "participant"> Participant </option>
        </select>
        <label> Event ID </label> 
        <select id = "eventID" name = "eventID">
            <option value = "003"> 003 - Anchor Splash  </option>
            <option value = "024"> 024 - Ironbrawl </option>
            <option value = "031"> 031 - SPE Sweethearts  </option>
            <option value = "None"> None </option>
        </select>
        <label> Chapter ID </label> 
        <select id = "chapterID" name = "chapterID">
            <option value = "001"> 001 - Delta Gamma  </option>
            <option value = "002"> 002 - Kappa Alpha Theta </option>
            <option value = "003"> 003 - Pi Kappa Phi  </option>
            <option value = "004"> 004 - Sigma Phi Epsilon </option>
            <option value = "023"> 023 - Sigma Delta Omega </option>
            <option value = "None"> None </option>
        </select>
        <input type = "submit" value = "Submit">
    </form>

</body>

</html>